/*網站主體顏色設定*/ 
$web-primary: #AA0601;

/*顏色設定*/ 
$font-primary-color:#650300;
$font-secondary-color:#fff;
$font-third-color:#AA0601;
$font-paragraph:#000;
$font-hover:#ffb100;

/*文字設定*/ 
$font-size-base:1rem; //16px
$h-lg-font-size: $font-size-base*4.5; //72px
$h1-font-size: $font-size-base*4; //64px
$h2-font-size: $font-size-base*3; //48px
$h3-font-size: $font-size-base*2.25; //36px
$h4-font-size: $font-size-base*2; //32px
$h5-font-size: $font-size-base*1.75; //28px
$h6-font-size: $font-size-base*1.5; //24px
$h7-font-size: $font-size-base*1.25; //20px

$font-primary-weight:bold;

/*字體設定*/ 
$font-noto: 'Noto Sans TC', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-icon:'Material Icons Outlined';

/*行高設定*/
$line-height-base: 1.5rem;

/*padding設定*/
$padding-top-80: 5rem;
$padding-container:0 39px;



/*mixin設定*/ 
@mixin hide-text{
  text-indent:101%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin h2-text-padding{
  font-size: $h2-font-size;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 48px;
  text-align: center;
}

@mixin h2-text-padding-pad{
  font-size: $h4-font-size;
  padding-top: 40px;
  padding-bottom: 32px;
}

@mixin h2-text-padding-mobile{
  font-size: $h6-font-size;
  padding-top: 32px;
  padding-bottom: 28px;
}



